
@{
    ViewBag.Title = "Task 1";
}

<h2>Task 1</h2>
<button class="btn btn-primary">@Html.ActionLink("Run Task", "RunTask", "TaskOne")</button>

<p>
    Problem 1 - Load Excel Reports from ZIP File

    Your task is to write a C# program to load Excel in MS SQL Server. You may need to preliminary design a database schema to hold all data about the products (data from the MongoDB database and data from the Excel files) or use the "code-first" approach to move the DB schema from MongoDB to SQL Server. Your C# program should also move the products data from MongoDB to SQL Server.
    The Excel files are given inside a ZIP archive holding subfolders named as the dates of the report in format dd-MMM-yyyy (see the example reports archive Sample-Sales-Reports.zip).
    Note that the ZIP file could contain few hundred dates (folders), each holding few hundreds Excel files, each holding thousands of data.
    Input: MongoDB database; ZIP file with Excel 2003 reports.
    Output: data loaded in the SQL Server database.
    For example:
    you may have the MongoDB database “Supermarket” holding information about some vendors and some products and a set of Excel files (*.xls) holding information about the sales in the different super¬markets.
</p>