
@{
    ViewBag.Title = "Task 1";
}

@Html.ActionLink("Run Task", "RunTask", "TaskOne", null, new { @class = "btn btn-success" })

<h2 id="problem-1---load-excel-reports-from-zip-file">Problem 1 - Load Excel Reports from ZIP File</h2>
<ul>
    <li>Your task is to write a C# program to <strong>load Excel in MS SQL Server</strong>. You may need to preliminary design a database schema to hold all data about the products (data from the MongoDB database and data from the Excel files) or use the &quot;code-first&quot; approach to move the DB schema from MongoDB to SQL Server. Your C# program should also move the products data from MongoDB to SQL Server.</li>
    <li>The Excel files are given inside a <strong>ZIP archive</strong> holding subfolders named as the dates of the report in format <strong>dd-MMM-yyyy</strong> (see the example reports archive <a href="/21.%20Databases%20Team%20Work%20Project/2015/Sample-Sales-Reports.zip?raw=true">Sample-Sales-Reports.zip</a>).</li>
    <li>Note that the ZIP file could contain few hundred dates (folders), each holding few hundreds Excel files, each holding thousands of data.</li>
    <li><strong>Input</strong>: MongoDB database; ZIP file with Excel 2003 reports.</li>
    <li><strong>Output:</strong> data loaded in the SQL Server database.</li>
    <li><em>For example:</em></li>
    <li>you may have the <strong>MongoDB database “Supermarket”</strong> holding information about some vendors and some products and a <strong>set of Excel files</strong> (*.xls) holding information about the sales in the different super¬markets.</li>
</ul>