
@{
    ViewBag.Title = "Task 3";
}

@Html.ActionLink("Run Task", "RunTask", "TaskThree", null, new { @class = "btn btn-success" })

<h2 id="problem-3---generate-xml-report">Problem 3 - Generate XML Report</h2>
<ul>
    <li>Your task is to create a C# program to <strong>generate report in XML format</strong> like the sample below:</li>
</ul>
<p><strong>Sales-by-Vendors-report.xml</strong></p>
<pre class="sourceCode xml"><code class="sourceCode xml"><span class="kw">&lt;?xml</span> version=&quot;1.0&quot; encoding=&quot;utf-8&quot;&gt;
&lt;sales&gt;
  &lt;sale vendor=&quot;Nestle Sofia Corp.&quot;&gt;
    &lt;summary date=&quot;20-Jul-2013&quot; total-sum=&quot;54.75&quot; /&gt;
    &lt;summary date=&quot;21-Jul-2013&quot; total-sum=&quot;40.35&quot; /&gt;
    &lt;summary date=&quot;22-Jul-2013&quot; total-sum=&quot;40.60&quot; /&gt;
  &lt;/sale&gt;
  &lt;sale vendor=&quot;Targovishte Bottling Company Ltd.&quot;&gt;
    &lt;summary date=&quot;20-Jul-2013&quot; total-sum=&quot;150.20&quot; /&gt;
    &lt;summary date=&quot;21-Jul-2013&quot; total-sum=&quot;709.30&quot; /&gt;
    &lt;summary date=&quot;22-Jul-2013&quot; total-sum=&quot;249.40&quot; /&gt;
  &lt;/sale&gt;
  &lt;sale vendor=&quot;Zagorka Corp.&quot;&gt;
    &lt;summary date=&quot;20-Jul-2013&quot; total-sum=&quot;144.80&quot; /&gt;
    &lt;summary date=&quot;21-Jul-2013&quot; total-sum=&quot;341.59&quot; /&gt;
    &lt;summary date=&quot;22-Jul-2013&quot; total-sum=&quot;385.80&quot; /&gt;
  &lt;/sale&gt;
&lt;sales&gt;</code></pre>
<ul>
    <li>Save the report in an “<strong>xml</strong>” file.</li>
    <li><strong>Input</strong>:</li>
    <li>SQL Server database</li>
    <li><strong>Output</strong>:</li>
    <li>XML report</li>
</ul>