
@{
    ViewBag.Title = "Task 4";
}

<h2>Task 4</h2>
<button class="btn btn-primary">@Html.ActionLink("Run Task", "RunTask", "TaskFour")</button>

<h2 id="problem-4---json-reports">Problem 4 - JSON Reports</h2>
<ul>
    <li>Your task is to write a program to create report for each product in JSON format and save all reports in MySQL. All reports may look like the sample below and should be saved in the MySQL database as well as in the file system (in a folder called “Json-Reports”, in files named “XX.json” where XX is the ID).</li>
    <li>Sample product report in JSON format:</li>
</ul>
<p><strong>3.json</strong></p>
<pre class="sourceCode javascript"><code class="sourceCode javascript">{
<span class="st">&quot;product-id&quot;</span> : <span class="dv">3</span>,
<span class="st">&quot;product-name&quot;</span> : <span class="st">&quot;Beer “Beck’s”&quot;</span>,
<span class="st">&quot;vendor-name&quot;</span> : <span class="st">&quot;Zagorka Corp.&quot;</span>,
<span class="st">&quot;total-quantity-sold&quot;</span> : <span class="dv">236</span>,
<span class="st">&quot;total-incomes&quot;</span> : <span class="fl">262.95</span>,
}</code></pre>
<p><strong>1.json</strong></p>
<pre class="sourceCode javascript"><code class="sourceCode javascript">{
<span class="st">&quot;product-id&quot;</span> : <span class="dv">1</span>,
<span class="st">&quot;product-name&quot;</span> : <span class="st">&quot;Beer “Zagorka”&quot;</span>,
<span class="st">&quot;vendor-name&quot;</span> : <span class="st">&quot;Zagorka Corp.&quot;</span>,
<span class="st">&quot;total-quantity-sold&quot;</span> : <span class="dv">673</span>,
<span class="st">&quot;total-incomes&quot;</span> : <span class="fl">609.24</span>,
}</code></pre>
<p><strong>4.json</strong></p>
<pre class="sourceCode javascript"><code class="sourceCode javascript">{
<span class="st">&quot;product-id&quot;</span> : <span class="dv">4</span>,
<span class="st">&quot;product-name&quot;</span> : <span class="st">&quot;Chocolate “Milka”&quot;</span>,
<span class="st">&quot;vendor-name&quot;</span> : <span class="st">&quot;Nestle Sofia Corp.&quot;</span>,
<span class="st">&quot;total-quantity-sold&quot;</span> : <span class="dv">47</span>,
<span class="st">&quot;total-incomes&quot;</span> : <span class="fl">135.70</span>,
}</code></pre>
<p><strong>2.json</strong></p>
<pre class="sourceCode javascript"><code class="sourceCode javascript">{
<span class="st">&quot;product-id&quot;</span> : <span class="dv">2</span>,
<span class="st">&quot;product-name&quot;</span> : <span class="st">&quot;Vodka “Targovishte”&quot;</span>,
<span class="st">&quot;vendor-name&quot;</span> : <span class="st">&quot;Targovishte Bottling Company Ltd.&quot;</span>,
<span class="st">&quot;total-quantity-sold&quot;</span> : <span class="dv">144</span>,
<span class="st">&quot;total-incomes&quot;</span> : <span class="fl">1155.90</span>,
}</code></pre>
<ul>
    <li><strong>Input</strong>:</li>
    <li>SQL Server database</li>
    <li><strong>Output</strong>:</li>
    <li>a set of JSON files</li>
    <li>data loaded in MySQL database</li>
</ul>