
@{
    ViewBag.Title = "Task 6";
}

<h2>Task 6</h2>
<button class="btn btn-primary">@Html.ActionLink("Run Task", "RunTask", "TaskSix")</button>

<h2 id="problem-6---excel-data">Problem 6 - Excel data</h2>
<ul>
    <li>You are given a <strong>SQLite database</strong> holding more information for each product.</li>
    <li><em>For example:</em></li>
</ul>
<table>
    <thead>
        <tr class="header">
            <th align="left">Product Name</th>
            <th align="center">Tax</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td align="left">Beer “Beck’s”</td>
            <td align="center">20%</td>
        </tr>
        <tr class="even">
            <td align="left">Beer “Zagorka”</td>
            <td align="center">20%</td>
        </tr>
        <tr class="odd">
            <td align="left">Chocolate “Milka”</td>
            <td align="center">18%</td>
        </tr>
        <tr class="even">
            <td align="left">Vodka “Targovishte”</td>
            <td align="center">25%</td>
        </tr>
    </tbody>
</table>
<ul>
    <li>Write a program to <strong>read the MySQL database</strong> of reports, <strong>read the information from SQLite</strong> and generate a <strong>single Excel</strong> file holding some information by your choice.</li>
    <li><em>For example:</em></li>
</ul>
<table>
    <thead>
        <tr class="header">
            <th align="left">Vendor</th>
            <th align="center">Incomes</th>
            <th align="left">Expenses</th>
            <th align="left">Taxes</th>
            <th align="left">Financial Result</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td align="left">Nestle Sofia Corp.</td>
            <td align="center">135.70</td>
            <td align="left">30</td>
            <td align="left">24.43</td>
            <td align="left">81.27</td>
        </tr>
        <tr class="even">
            <td align="left">Targovishte Bottling Company Ltd.</td>
            <td align="center">1155.90</td>
            <td align="left">200</td>
            <td align="left">288.98</td>
            <td align="left">666.92</td>
        </tr>
        <tr class="odd">
            <td align="left">Zagorka Corp.</td>
            <td align="center">872.19</td>
            <td align="left">120</td>
            <td align="left">174.44</td>
            <td align="left">577.75</td>
        </tr>
    </tbody>
</table>
<ul>
    <li>You are <strong>not</strong> allowed to connect to the SQL Server or MongoDB databases to read information.</li>
    <li><strong>Input</strong>:</li>
    <li>SQLite database</li>
    <li>MySQL database</li>
    <li><strong>Output</strong>:</li>
    <li>Excel file (.xlsx)</li>
</ul>
<h2 id="additional-requirements">Additional Requirements</h2>
<ul>
    <li>Your main program logic should be a C# application (a set of modules, executed sequentially one after another).</li>
    <li>Use non-commercial library to read the ZIP file.</li>
    <li>For reading the Excel 2003 files (.xls) use ADO.NET (without ORM or third-party libraries).</li>
    <li>MySQL should be accessed through Telerik® Data Access ORM (research it).</li>
    <li>SQL Server should be accessed through Entity Framework.</li>
    <li>You are free to use &quot;code first&quot; or &quot;database first&quot; approach or both for the ORM frameworks.</li>
    <li>For the PDF export use a non-commercial third party framework.</li>
    <li>The XML files should be read / written through the standard .NET parsers (by your choice).</li>
    <li>For JSON serializations use a non-commercial library / framework of your choice.</li>
    <li>MongoDB should be accessed through the Official MongoDB C# Driver.</li>
    <li>The SQLite embedded database should be accesses though its Entity Framework provider.</li>
    <li>For creating the Excel 2007 files (.xlsx) use a third-party non-commercial library.</li>
</ul>