
@{
    ViewBag.Title = "Task 2";
}

@Html.ActionLink("Run Task", "RunTask", "TaskTwo", null, new { @class = "btn btn-success" })

<h2 id="problem-2---generate-pdf-reports">Problem 2 - Generate PDF Reports</h2>
<ul>
    <li>Your task is to generate a PDF reports summarizing information from the SQL Server.</li>
    <li><em>For example:</em></li>
    <li>the PDF report may contain a table like the sample below:</li>
</ul>
<table>
    <tr>
        <td colspan="5">
            <strong>Aggregated Sales Report</strong>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            Date: 20-Jul-2013
        </td>
    </tr>
    <tr>
        <td>
            <strong>Product</strong>
        </td>
        <td>
            <strong>Quantity</strong>
        </td>
        <td>
            <strong>Unit Price</strong>
        </td>
        <td>
            <strong>Location</strong>
        </td>
        <td>
            <strong>Sum</strong>
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Beck’s&quot;
        </td>
        <td>
            40 liters
        </td>
        <td>
            1.20
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            48.00
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            37 liters
        </td>
        <td>
            1.00
        </td>
        <td>
            Supermarket &quot;Bourgas – Plaza&quot;
        </td>
        <td align="right">
            37.00
        </td>
    </tr>
    <tr>
        <td>
            Chocolate &quot;Milka&quot;
        </td>
        <td>
            7 pieces
        </td>
        <td>
            2.85
        </td>
        <td>
            Supermarket &quot;Bay Ivan&quot; – Zmeyovo
        </td>
        <td align="right">
            19.95
        </td>
    </tr>
    <tr>
        <td>
            Vodka &quot;Targovishte&quot;
        </td>
        <td>
            14 liters
        </td>
        <td>
            8.50
        </td>
        <td>
            Supermarket &quot;Bourgas – Plaza&quot;
        </td>
        <td align="right">
            119.00
        </td>
    </tr>
    <tr>
        <td>
            Chocolate &quot;Milka&quot;
        </td>
        <td>
            12 pieces
        </td>
        <td>
            2.90
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            34.80
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            65 liters
        </td>
        <td>
            0.92
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            59.80
        </td>
    </tr>
    <tr>
        <td>
            Vodka &quot;Targovishte&quot;
        </td>
        <td>
            4 liters
        </td>
        <td>
            7.80
        </td>
        <td>
            Supermarket &quot;Bay Ivan&quot; – Zmeyovo
        </td>
        <td align="right">
            31.20
        </td>
    </tr>
    <tr>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            Total sum for 20-Jul-2012:
        </td>
        <td align="right">
            <strong>349.75</strong>
        </td>
    </tr>
    <tr>
        <td>
            Date: 21-Jul-2013
        </td>
    </tr>
    <tr>
        <td>
            <strong>Product</strong>
        </td>
        <td>
            <strong>Quantity</strong>
        </td>
        <td>
            <strong>Unit Price</strong>
        </td>
        <td>
            <strong>Location</strong>
        </td>
        <td>
            <strong>Sum</strong>
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            11 liters
        </td>
        <td>
            1.00
        </td>
        <td>
            Supermarket &quot;Bourgas – Plaza&quot;
        </td>
        <td align="right">
            11.00
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            78 liters
        </td>
        <td>
            0.92
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            71.76
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            146 liters
        </td>
        <td>
            0.88
        </td>
        <td>
            Supermarket &quot;Plovdiv – Stolipinovo&quot;
        </td>
        <td align="right">
            128.48
        </td>
    </tr>
    <tr>
        <td>
            Vodka &quot;Targovishte&quot;
        </td>
        <td>
            20 liters
        </td>
        <td>
            8.50
        </td>
        <td>
            Supermarket &quot;Bourgas – Plaza&quot;
        </td>
        <td align="right">
            170.00
        </td>
    </tr>
    <tr>
        <td>
            Vodka &quot;Targovishte&quot;
        </td>
        <td>
            67 liters
        </td>
        <td>
            7.70
        </td>
        <td>
            Supermarket &quot;Plovdiv – Stolipinovo&quot;
        </td>
        <td align="right">
            515.90
        </td>
    </tr>
    <tr>
        <td>
            Vodka &quot;Targovishte&quot;
        </td>
        <td>
            3 liters
        </td>
        <td>
            7.80
        </td>
        <td>
            Supermarket &quot;Bay Ivan&quot; – Zmeyovo
        </td>
        <td align="right">
            23.40
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Beck’s&quot;
        </td>
        <td>
            43 liters
        </td>
        <td>
            1.20
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            51.60
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Beck’s&quot;
        </td>
        <td>
            75 liters
        </td>
        <td>
            1.05
        </td>
        <td>
            Supermarket &quot;Plovdiv – Stolipinovo&quot;
        </td>
        <td align="right">
            78.75
        </td>
    </tr>
    <tr>
        <td>
            Chocolate &quot;Milka&quot;
        </td>
        <td>
            9 pieces
        </td>
        <td>
            2.90
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            26.10
        </td>
    </tr>
    <tr>
        <td>
            Chocolate &quot;Milka&quot;
        </td>
        <td>
            5 pieces
        </td>
        <td>
            2.85
        </td>
        <td>
            Supermarket &quot;Bay Ivan&quot; – Zmeyovo
        </td>
        <td align="right">
            14.25
        </td>
    </tr>
    <tr>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            Total sum for 21-Jul-2012:
        </td>
        <td colspan="4" align="right">
            <strong>1091.24</strong>
        </td>
    </tr>
    <tr>
        <td>
            Date: 22-Jul-2013
        </td>
    </tr>
    <tr>
        <td>
            <strong>Product</strong>
        </td>
        <td>
            <strong>Quantity</strong>
        </td>
        <td>
            <strong>Unit Price</strong>
        </td>
        <td>
            <strong>Location</strong>
        </td>
        <td>
            <strong>Sum</strong>
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            16.00
        </td>
        <td>
            1.00
        </td>
        <td>
            Supermarket &quot;Bourgas – Plaza&quot;
        </td>
        <td align="right">
            16.00
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            90.00
        </td>
        <td>
            0.92
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            82.80
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Zagorka&quot;
        </td>
        <td>
            230.00
        </td>
        <td>
            0.88
        </td>
        <td>
            Supermarket &quot;Plovdiv – Stolipinovo&quot;
        </td>
        <td align="right">
            202.40
        </td>
    </tr>
    <tr>
        <td>
            Vodka &quot;Targovishte&quot;
        </td>
        <td>
            24.00
        </td>
        <td>
            8.50
        </td>
        <td>
            Supermarket &quot;Bourgas – Plaza&quot;
        </td>
        <td align="right">
            204.00
        </td>
    </tr>
    <tr>
        <td>
            Vodka &quot;Targovishte&quot;
        </td>
        <td>
            12.00
        </td>
        <td>
            7.70
        </td>
        <td>
            Supermarket &quot;Plovdiv – Stolipinovo&quot;
        </td>
        <td align="right">
            92.40
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Beck’s&quot;
        </td>
        <td>
            18.00
        </td>
        <td>
            1.20
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            21.60
        </td>
    </tr>
    <tr>
        <td>
            Beer &quot;Beck’s&quot;
        </td>
        <td>
            60.00
        </td>
        <td>
            1.05
        </td>
        <td>
            Supermarket &quot;Plovdiv – Stolipinovo&quot;
        </td>
        <td align="right">
            63.00
        </td>
    </tr>
    <tr>
        <td>
            Chocolate &quot;Milka&quot;
        </td>
        <td>
            14.00
        </td>
        <td>
            2.90
        </td>
        <td>
            Supermarket &quot;Kaspichan – Center&quot;
        </td>
        <td align="right">
            40.60
        </td>
    </tr>
    <tr>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
        <td>
            …
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            Total sum for 21-Jul-2012:
        </td>
        <td align="right">
            <strong>722.80</strong>
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            Grand total:
        </td>
        <td align="right">
            <strong>2163.79</strong>
        </td>
    </tr>
</table>
<ul>
    <li>A sample PDF report is also available: <a href="Sample-Aggregated-Sales-Report.pdf">Sample-Aggregated-Sales-Report.pdf</a>.</li>
    <li><strong>Input</strong>:</li>
    <li>SQL Server database</li>
    <li><strong>Output</strong>:</li>
    <li>PDF report</li>
</ul>