@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team Espresso-Martini</h1>
    <p class="lead">Databases Teamwork project</p>
    <p><a href="https://github.com/Team-Espresso-Martini" class="btn btn-primary btn-lg">GitHub repository.</a></p>
</div>